<template>
  <div class="login_container">
    <!--  头像区  -->
    <div class="login_box">
      <div class="avatar_box">
        <img src="../assets/timg.jpg">
      </div>
      <!-- 登录表单区 -->
      <el-form :model="loginForm" :rules="loginFormRules" label-width="80px" class="login_form">
        <el-form-item label="用户名" prop="username">
          <el-input v-model="loginForm.username" placeholder="请输入用户名" prefix-icon="iconfont icon-user"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="loginForm.password" placeholder="请输入密码" prefix-icon="iconfont icon-3702mima" type="password"></el-input>
        </el-form-item>
        <el-form-item class="btns">
        <el-button type="primary">登录</el-button>
        <el-button type="info">重置</el-button>
      </el-form-item>
      </el-form>
    </div>
  </div>

</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      // 登录表单数据绑定
      loginForm: {
        username: 'ad',
        password: '123'
      },
      loginFormRules: {
        username: [ // 设置焦点
          { required: true, message: '请输入用户名', trigger: 'blur' },
          { min: 3, max: 10, message: '长度在3-10个字符', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入用户名', trigger: 'blur' },
          { min: 6, max: 20, message: '长度在6-20个字符', trigger: 'blur' }
        ]
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .login_container {
    background-color: #2b6b7b;
    height: 100%;
  }

  .login_box {
    width: 450px;
    height: 300px;
    background-color: #ffffff;
    /* 控制盒子的圆角及 在页面的位置*/
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .avatar_box {
    height: 130px;
    width: 130px;
    border: solid 1px;
    border-radius: 50%;
    padding: 10px; /*图片和边框之间的距离*/
    box-shadow: 0 0 10px #ddd; /*设置图片阴影*/
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;

    img {
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-color: #eee;
    }
  }
  .login_form {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .btns {
    display: flex;
    justify-content: flex-end;
  }
</style>
